<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-parameter-heading"
        data-cy="ParameterCreateUpdateHeading"
        jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.home.createOrEditLabel"
      >
        Create or edit a Parameter
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_title"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.title' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.title"
            >Title</label
          >
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_manualOrAuto"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.manualOrAuto' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.manualOrAuto"
            >Manual Or Auto</label
          >
          <select class="form-control" name="manualOrAuto" formControlName="manualOrAuto" id="field_manualOrAuto" data-cy="manualOrAuto">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.CalcType.null' | translate }}</option>
            @for (calcType of calcTypeValues; track $index) {
              <option [value]="calcType">{{ 'bulutAttendanceApp.CalcType.' + calcType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_formula"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.formula' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.formula"
            >Formula</label
          >
          <input type="text" class="form-control" name="formula" id="field_formula" data-cy="formula" formControlName="formula" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_unit"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.unit' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.unit"
            >Unit</label
          >
          <select class="form-control" name="unit" formControlName="unit" id="field_unit" data-cy="unit">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.CalcUnit.null' | translate }}</option>
            @for (calcUnit of calcUnitValues; track $index) {
              <option [value]="calcUnit">{{ 'bulutAttendanceApp.CalcUnit.' + calcUnit | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_isDeducTax"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.isDeducTax' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.isDeducTax"
            >Is Deduc Tax</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isDeducTax"
            id="field_isDeducTax"
            data-cy="isDeducTax"
            formControlName="isDeducTax"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_isDeducInsurance"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.isDeducInsurance' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.isDeducInsurance"
            >Is Deduc Insurance</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isDeducInsurance"
            id="field_isDeducInsurance"
            data-cy="isDeducInsurance"
            formControlName="isDeducInsurance"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_laborTime"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.laborTime' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.laborTime"
            >Labor Time</label
          >
          <select class="form-control" name="laborTime" formControlName="laborTime" id="field_laborTime" data-cy="laborTime">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.LaborTime.null' | translate }}</option>
            @for (laborTime of laborTimeValues; track $index) {
              <option [value]="laborTime">{{ 'bulutAttendanceApp.LaborTime.' + laborTime | translate }}</option>
            }
          </select>
          @if (editForm.get('laborTime')!.invalid && (editForm.get('laborTime')!.dirty || editForm.get('laborTime')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_hokm"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.hokm' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.hokm"
            >Hokm</label
          >
          <select class="form-control" name="hokm" formControlName="hokm" id="field_hokm" data-cy="hokm">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.Hokm.null' | translate }}</option>
            @for (hokm of hokmValues; track $index) {
              <option [value]="hokm">{{ 'bulutAttendanceApp.Hokm.' + hokm | translate }}</option>
            }
          </select>
          @if (editForm.get('hokm')!.invalid && (editForm.get('hokm')!.dirty || editForm.get('hokm')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_earnings"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.earnings' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.earnings"
            >Earnings</label
          >
          <select class="form-control" name="earnings" formControlName="earnings" id="field_earnings" data-cy="earnings">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.Earning.null' | translate }}</option>
            @for (earning of earningValues; track $index) {
              <option [value]="earning">{{ 'bulutAttendanceApp.Earning.' + earning | translate }}</option>
            }
          </select>
          @if (editForm.get('earnings')!.invalid && (editForm.get('earnings')!.dirty || editForm.get('earnings')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_deduction"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.deduction' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.deduction"
            >Deduction</label
          >
          <select class="form-control" name="deduction" formControlName="deduction" id="field_deduction" data-cy="deduction">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.Deduction.null' | translate }}</option>
            @for (deduction of deductionValues; track $index) {
              <option [value]="deduction">{{ 'bulutAttendanceApp.Deduction.' + deduction | translate }}</option>
            }
          </select>
          @if (editForm.get('deduction')!.invalid && (editForm.get('deduction')!.dirty || editForm.get('deduction')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_other"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceParameter.help.other' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.other"
            >Other</label
          >
          <select class="form-control" name="other" formControlName="other" id="field_other" data-cy="other">
            <option [ngValue]="null">{{ 'bulutAttendanceApp.Deduction.null' | translate }}</option>
            @for (deduction of deductionValues; track $index) {
              <option [value]="deduction">{{ 'bulutAttendanceApp.Deduction.' + deduction | translate }}</option>
            }
          </select>
          @if (editForm.get('other')!.invalid && (editForm.get('other')!.dirty || editForm.get('other')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.status">Status</label>
          <select
            class="form-control"
            id="field_status"
            data-cy="status"
            name="status"
            formControlName="status"
            [compareWith]="compareRecordStatus"
          >
            <option [ngValue]="null"></option>
            @for (recordStatusOption of recordStatusesSharedCollection; track $index) {
              <option [ngValue]="recordStatusOption">{{ recordStatusOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_internalUser" jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.internalUser"
            >Internal User</label
          >
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of applicationUsersSharedCollection; track $index) {
              <option [ngValue]="applicationUserOption">{{ applicationUserOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="bulutAttendanceApp.bulutAttendanceParameter.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection; track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">انصراف</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">ذخیره</span>
        </button>
      </div>
    </form>
  </div>
</div>
