<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_issueDateTime"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceTransaction.help.issueDateTime' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.issueDateTime"
            >Issue Date Time</label
          >
          <div class="d-flex">
            <input
              id="field_issueDateTime"
              data-cy="issueDateTime"
              type="datetime-local"
              class="form-control"
              name="issueDateTime"
              formControlName="issueDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_totalAmount"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceTransaction.help.totalAmount' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.totalAmount"
            >Total Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_desc"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceTransaction.help.desc' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.desc"
            >Desc</label
          >
          <input type="text" class="form-control" name="desc" id="field_desc" data-cy="desc" formControlName="desc" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_docNumber"
            [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceTransaction.help.docNumber' | translate"
            jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.docNumber"
            >Doc Number</label
          >
          <input type="text" class="form-control" name="docNumber" id="field_docNumber" data-cy="docNumber" formControlName="docNumber" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_internalUser" jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.internalUser"
            >Internal User</label
          >
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of applicationUsersSharedCollection; track $index) {
              <option [ngValue]="applicationUserOption">{{ applicationUserOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="bulutAttendanceApp.bulutAttendanceTransaction.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection; track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">انصراف</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">ذخیره</span>
        </button>
      </div>
    </form>
  </div>
</div>
