@if (hrLetter) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(hrLetter.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="hrLetterDeleteDialogHeading" jhiTranslate="entity.delete.title">تصدیق عملیات حذف</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-hrLetter-heading"
        jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetter.delete.question"
        [translateValues]="{ id: hrLetter.id }"
      >
        Are you sure you want to delete Hr Letter {{ hrLetter.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">انصراف</span>
      </button>

      <button id="jhi-confirm-delete-hrLetter" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">حذف</span>
      </button>
    </div>
  </form>
}
