@if (hrLetterType) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(hrLetterType.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="hrLetterTypeDeleteDialogHeading" jhiTranslate="entity.delete.title">تصدیق عملیات حذف</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-hrLetterType-heading"
        jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterType.delete.question"
        [translateValues]="{ id: hrLetterType.id }"
      >
        Are you sure you want to delete Hr Letter Type {{ hrLetterType.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">انصراف</span>
      </button>

      <button id="jhi-confirm-delete-hrLetterType" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">حذف</span>
      </button>
    </div>
  </form>
}
