<div>
  <h2 id="page-heading" data-cy="AccountHesabHeading">
    <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.home.title">Account Hesabs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-hesab"
        [routerLink]="['/bulutattendance/account-hesab/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.home.createLabel"
          >Create a new Account Hesab</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.home.search"
          >Search for Account Hesab</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'bulutAttendanceApp.bulutAttendanceAccountHesab.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (accountHesabs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.home.notFound">No Account Hesabs found</span>
    </div>
  }

  @if (accountHesabs && accountHesabs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.title">Title</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.code">Code</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.level">Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="levelTitle">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.levelTitle">Level Title</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.id">Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.type">Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="levelInTree">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.levelInTree">Level In Tree</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="debitAmount">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.debitAmount">Debit Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creditAmount">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.creditAmount">Credit Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeInFormula">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.typeInFormula">Type In Formula</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.status">Status</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="internalUser.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.company">Company</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentAccountId.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.parentAccountId">Parent Account Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="personnelId.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.personnelId">Personnel Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bank.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceAccountHesab.bank">Bank</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (accountHesab of accountHesabs; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ accountHesab.title }}</td>
              <td>{{ accountHesab.code }}</td>
              <td>{{ accountHesab.level }}</td>
              <td>{{ accountHesab.levelTitle }}</td>
              <td>
                <a [routerLink]="['/bulutattendance/account-hesab', accountHesab.id, 'view']">{{ accountHesab.id }}</a>
              </td>
              <td [jhiTranslate]="'bulutAttendanceApp.AccountType.' + (accountHesab.type ?? 'null')">
                {{ { null: '', Credit: 'Credit', Debit: 'Debit' }[accountHesab.type ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'bulutAttendanceApp.AccountLevelInTree.' + (accountHesab.levelInTree ?? 'null')">
                {{
                  {
                    null: '',
                    GROUP: 'GROUP',
                    KOL: 'KOL',
                    MOAYAN: 'MOAYAN',
                    TAFZIL: 'TAFZIL',
                    TAFZIL_2: 'TAFZIL_2',
                    TAFZIL_3: 'TAFZIL_3',
                    TAFZIL_4: 'TAFZIL_4',
                    TAFZIL_5: 'TAFZIL_5',
                    TAFZIL_6: 'TAFZIL_6',
                    TAFZIL_7: 'TAFZIL_7',
                    TAFZIL_8: 'TAFZIL_8',
                    TAFZIL_9: 'TAFZIL_9',
                    TAFZIL_10: 'TAFZIL_10'
                  }[accountHesab.levelInTree ?? 'null']
                }}
              </td>
              <td>{{ accountHesab.debitAmount }}</td>
              <td>{{ accountHesab.creditAmount }}</td>
              <td [jhiTranslate]="'bulutAttendanceApp.AccountingFormulaType.' + (accountHesab.typeInFormula ?? 'null')">
                {{
                  {
                    null: '',
                    ASSETS: 'ASSETS',
                    EXPENSES: 'EXPENSES',
                    DIVIDENDS: 'DIVIDENDS',
                    LIABILITIES: 'LIABILITIES',
                    OWNERS_EQUITY: 'OWNERS_EQUITY',
                    REVENUE: 'REVENUE'
                  }[accountHesab.typeInFormula ?? 'null']
                }}
              </td>
              <td>
                @if (accountHesab.status) {
                  <div>
                    <a [routerLink]="['/bulutattendance/record-status', accountHesab.status.id, 'view']">{{ accountHesab.status.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountHesab.internalUser) {
                  <div>
                    <a [routerLink]="['/bulutattendance/application-user', accountHesab.internalUser.id, 'view']">{{
                      accountHesab.internalUser.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountHesab.company) {
                  <div>
                    <a [routerLink]="['/bulutattendance/company', accountHesab.company.id, 'view']">{{ accountHesab.company.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountHesab.parentAccountId) {
                  <div>
                    <a [routerLink]="['/bulutattendance/account-hesab', accountHesab.parentAccountId.id, 'view']">{{
                      accountHesab.parentAccountId.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountHesab.personnelId) {
                  <div>
                    <a [routerLink]="['/bulutattendance/personnel', accountHesab.personnelId.id, 'view']">{{
                      accountHesab.personnelId.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountHesab.bank) {
                  <div>
                    <a [routerLink]="['/bulutattendance/bank', accountHesab.bank.id, 'view']">{{ accountHesab.bank.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/bulutattendance/account-hesab', accountHesab.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">مشاهده</span>
                  </a>

                  <a
                    [routerLink]="['/bulutattendance/account-hesab', accountHesab.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">ویرایش</span>
                  </a>

                  <button type="submit" (click)="delete(accountHesab)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (accountHesabs && accountHesabs.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
