<div>
  <h2 id="page-heading" data-cy="TransactionAccountHeading">
    <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.home.title">Transaction Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-account"
        [routerLink]="['/bulutattendance/transaction-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.home.createLabel"
          >Create a new Transaction Account</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.home.search"
          >Search for Transaction Account</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'bulutAttendanceApp.bulutAttendanceTransactionAccount.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (transactionAccounts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.home.notFound">No Transaction Accounts found</span>
    </div>
  }

  @if (transactionAccounts && transactionAccounts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">شناسه</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="debitAmount">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.debitAmount">Debit Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creditAmount">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.creditAmount">Credit Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="internalUser.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.company">Company</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="account.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.account">Account</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transaction.id">
              <div class="d-flex">
                <span jhiTranslate="bulutAttendanceApp.bulutAttendanceTransactionAccount.transaction">Transaction</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (transactionAccount of transactionAccounts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bulutattendance/transaction-account', transactionAccount.id, 'view']">{{ transactionAccount.id }}</a>
              </td>
              <td>{{ transactionAccount.debitAmount }}</td>
              <td>{{ transactionAccount.creditAmount }}</td>
              <td>
                @if (transactionAccount.internalUser) {
                  <div>
                    <a [routerLink]="['/bulutattendance/application-user', transactionAccount.internalUser.id, 'view']">{{
                      transactionAccount.internalUser.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (transactionAccount.company) {
                  <div>
                    <a [routerLink]="['/bulutattendance/company', transactionAccount.company.id, 'view']">{{
                      transactionAccount.company.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (transactionAccount.account) {
                  <div>
                    <a [routerLink]="['/bulutattendance/account-hesab', transactionAccount.account.id, 'view']">{{
                      transactionAccount.account.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (transactionAccount.transaction) {
                  <div>
                    <a [routerLink]="['/bulutattendance/transaction', transactionAccount.transaction.id, 'view']">{{
                      transactionAccount.transaction.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/bulutattendance/transaction-account', transactionAccount.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">مشاهده</span>
                  </a>

                  <a
                    [routerLink]="['/bulutattendance/transaction-account', transactionAccount.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">ویرایش</span>
                  </a>

                  <button type="submit" (click)="delete(transactionAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (transactionAccounts && transactionAccounts.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
