<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hrLetterParameter()) {
      <div>
        <h2 data-cy="hrLetterParameterDetailsHeading">
          <span jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.detail.title">Hr Letter Parameter</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">شناسه</span></dt>
          <dd>
            <span>{{ hrLetterParameter()!.id }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.title' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.title"
              >Title</span
            >
          </dt>
          <dd>
            <span>{{ hrLetterParameter()!.title }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.manualOrAuto' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.manualOrAuto"
              >Manual Or Auto</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.CalcType.' + (hrLetterParameter()!.manualOrAuto ?? 'null')">{{
              { null: '', ByHand: 'ByHand', BySystem: 'BySystem', Constant: 'Constant' }[hrLetterParameter()!.manualOrAuto ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.formula' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.formula"
              >Formula</span
            >
          </dt>
          <dd>
            <span>{{ hrLetterParameter()!.formula }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.unit' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.unit"
              >Unit</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.CalcUnit.' + (hrLetterParameter()!.unit ?? 'null')">{{
              { null: '', Daily: 'Daily', Hourly: 'Hourly' }[hrLetterParameter()!.unit ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.isDeducTax' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.isDeducTax"
              >Is Deduc Tax</span
            >
          </dt>
          <dd>
            <span>{{ hrLetterParameter()!.isDeducTax }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.isDeducInsurance' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.isDeducInsurance"
              >Is Deduc Insurance</span
            >
          </dt>
          <dd>
            <span>{{ hrLetterParameter()!.isDeducInsurance }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.laborTime' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.laborTime"
              >Labor Time</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.LaborTime.' + (hrLetterParameter()!.laborTime ?? 'null')">{{
              {
                null: '',
                STANDARD: 'کارکرد موظف (استاندارد',
                EFFECTIVE: 'کارکرد موثر',
                LACK_OF_WORK_AND_ABSENT: 'کسری کار و غیبت',
                OVERTIME: 'اضافه کاری',
                NOT_EFFECTIVE: 'کارکرد غیر موثر',
                SHIFT_10: 'نوبت کاری 10 درصد',
                SHIFT_15: 'نوبت کاری 15 درصد',
                SHIFT_22_5: 'نوبت کاری 22.5 درصد',
                NIGHT_WORK: 'شب کاری',
                MISSION_WORK: 'ماموریت',
                HOLIDAY_WORK: 'تعطیل کاری',
                TOTAL_WORK_DAY: 'مدت اشتغال کل ( روز',
                TOTAL_WORK_CURRENT_YEAR: 'کارکرد سال جاری ( روز ',
                REMAIN_LEAVE_HOURLY: 'باقی مانده مرخصی (ساعت',
                REMAIN_LEAVE_DAILY: 'باقی مانده مرخصی (روز',
                Other: 'سایر',
                SANAVAT: 'سنوات پایان خدمت',
                TOTAL_WORK: 'کل کارکرد'
              }[hrLetterParameter()!.laborTime ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.hokm' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.hokm"
              >Hokm</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.Hokm.' + (hrLetterParameter()!.hokm ?? 'null')">{{
              {
                null: '',
                Other: 'سایر',
                BASE: 'حقوق پایه',
                CHILD: 'حق اولاد',
                LABOR: 'بن کارگری',
                FOOD: 'بن خواربار',
                RANGE: 'مزد رتبه',
                ROLE: 'مزایای پست',
                EFFECTIVENESS: 'فوق العاده کارایی',
                HOUSE: 'حق مسکن',
                TOTAL_HOKM: 'جمع حکم'
              }[hrLetterParameter()!.hokm ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.earnings' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.earnings"
              >Earnings</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.Earning.' + (hrLetterParameter()!.earnings ?? 'null')">{{
              {
                null: '',
                Other: 'سایر',
                OverTime: 'اضافه کار',
                Shift: 'فوق العاده نوبت کاری',
                Night: 'فوق العاده شب کاری',
                Holiday_Work: 'فوق العاده تعطیل کاری',
                Mission: 'حق ماموریت',
                Tax_Insurance: 'سایر پرداختنی های مشمول بیمه و مالیات',
                OtherEarning_Tax: 'سایر پرداختنی های مشمول مالیات',
                OtherEarning_Insurance: 'سایر پرداختنی های مشمول بیمه',
                Total: 'جمع حقوق و مزایا',
                Total_Insurance: 'جمع حقوق و مزایای مشمول بیمه',
                Net_Salary_Paid: 'خالص پرداختی حقوق',
                Total_Tax: 'جمع حقوق و مزایای مشمول مالیات',
                LEAVE: 'بازخرید مرخصی ',
                YEARLY_BONUS: 'عیدی',
                YEARS_OF_SERVICE: 'سنوات خدمت',
                BONUS: 'پاداش'
              }[hrLetterParameter()!.earnings ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.deduction' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.deduction"
              >Deduction</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.Deduction.' + (hrLetterParameter()!.deduction ?? 'null')">{{
              {
                null: '',
                Other: 'سایر',
                Insurance_Labor: 'سهم بیمه کارگر 7 درصد',
                Tax: 'مالیات',
                Judicial: 'کسور قضایی',
                Prepaid: 'مساعده',
                Loan: 'اقساط وام',
                LastMonthOverPaid: 'اضافه پرداخت ماه قبل',
                Lack_of_work_and_absence: 'کسری کار و غیبت',
                Supplementary_insurance: 'بیمه تکمیلی',
                Total_Deduction: 'جمع کسور'
              }[hrLetterParameter()!.deduction ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'bulutAttendanceApp.bulutAttendanceHrLetterParameter.help.other' | translate"
              jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.other"
              >Other</span
            >
          </dt>
          <dd>
            <span [jhiTranslate]="'bulutAttendanceApp.Deduction.' + (hrLetterParameter()!.other ?? 'null')">{{
              {
                null: '',
                Other: 'سایر',
                Insurance_Labor: 'سهم بیمه کارگر 7 درصد',
                Tax: 'مالیات',
                Judicial: 'کسور قضایی',
                Prepaid: 'مساعده',
                Loan: 'اقساط وام',
                LastMonthOverPaid: 'اضافه پرداخت ماه قبل',
                Lack_of_work_and_absence: 'کسری کار و غیبت',
                Supplementary_insurance: 'بیمه تکمیلی',
                Total_Deduction: 'جمع کسور'
              }[hrLetterParameter()!.other ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.isEnabled">Is Enabled</span></dt>
          <dd>
            <span>{{ hrLetterParameter()!.isEnabled }}</span>
          </dd>
          <dt><span jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.status">Status</span></dt>
          <dd>
            @if (hrLetterParameter()!.status) {
              <div>
                <a [routerLink]="['/bulutattendance/record-status', hrLetterParameter()!.status?.id, 'view']">{{
                  hrLetterParameter()!.status?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.internalUser">Internal User</span></dt>
          <dd>
            @if (hrLetterParameter()!.internalUser) {
              <div>
                <a [routerLink]="['/bulutattendance/application-user', hrLetterParameter()!.internalUser?.id, 'view']">{{
                  hrLetterParameter()!.internalUser?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="bulutAttendanceApp.bulutAttendanceHrLetterParameter.company">Company</span></dt>
          <dd>
            @if (hrLetterParameter()!.company) {
              <div>
                <a [routerLink]="['/bulutattendance/company', hrLetterParameter()!.company?.id, 'view']">{{
                  hrLetterParameter()!.company?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">برگشت</span>
        </button>

        <button
          type="button"
          [routerLink]="['/bulutattendance/hr-letter-parameter', hrLetterParameter()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">ویرایش</span>
        </button>
      </div>
    }
  </div>
</div>
